@import url("./classes.css");
@import url("./ids.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.2s;
}

:root {
  --theme-red: #8e3030;
  --theme-blue: #66b3d6;
  --theme-dark-green: #3d7749;
  --theme-light-green: #3d7749;
  --theme-yellow: #fbd08a;
  --theme-orange: #f79e55;
  --theme-purple: #9c4c9c;
  --theme-pink: #ffa3a3;
  --theme-brown: #9c654c;
  --theme-grey: #9c9c9c;
  --theme-light-grey: #f7f7f7;
  --theme-dark-grey: #4c4c4c;
  --theme-black: #131313;
  --theme-white: #f3f3f3;
}

.dark-mode {
  --item-background: var(--theme-dark-green);
  --item-color: var(--theme-white);
  --item-border: var(--theme-yellow);

  background-color: var(--theme-dark-grey);
  color: var(--theme-white);
}

.light-mode {
  --item-background: var(var(--theme-light-green));
  --item-color: var(var(--theme-black));
  --item-border: var(--theme-grey);

  background-color: var(--theme-white);
  color: var(--theme-black);
}

body {
  padding: 1rem 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
input {
  font-family: "Open Sans", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

main > section {
  margin-bottom: 3rem;
}

label {
  display: block;
  margin-bottom: 0.4rem;
}

section {
  min-height: 200px;
}
