.number-input {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.number-display {
  font-size: 18px;
  min-width: 80px;
  padding: 5px 10px;
  background-color: var(--theme-yellow);
  color: var(--theme-black);
  border-radius: 10px;
  margin-right: 10px;

  text-align: center;
}

.stepper {
  display: flex;
  flex-direction: column;
}

.icons {
  border-radius: 50%;
  color: var(--theme-blue);
  /* background-color: var(--theme-grey); */
}

.icons:hover {
  background-color: aliceblue;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.label {
  font-size: 12px;
}
